body {
	width: 100%;
	margin: 0;
	padding: 40px 0;
	background-color: #9a9a9a;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.characters {
	display: flex;
}

.characters__player,
.characters__enemy {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.characters__player__settings,
.characters__enemy__settings {
	min-height: 80px;
	margin-bottom: 10px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.game-field {
	display: flex;
	flex-direction: column;
	min-width: 400px;
}

.game-field__console {
	min-height: 400px;
}