@keyframes player-attack {
	from {transform: translateX(0px);}
	50% {transform: translateX(50px);}
	to   {transform: translateX(0px);}
}

@keyframes enemy-attack {
	from {transform: translateX(0px);}
	50% {transform: translateX(-50px);}
	to   {transform: translateX(0px);}
}

@keyframes character-wins {
	from {transform: translateY(0px);}
	to   {transform: translateY(-50px);}
}

body {
	width: 100%;
	margin: 0;
	padding: 40px 0;
	background-color: #9a9a9a;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.characters {
	display: flex;
}

.enemy__picture,
.player__picture {
	z-index: -1;
	animation-duration: .2s;  /*  This value is hard-coded at JS code  */
}

.enemy__picture--attack {
	animation-name: enemy-attack;
}

.player__picture--attack {
	animation-name: player-attack;
}

.character--win {
	animation: character-wins .3s infinite alternate;
}

.player,
.enemy {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.settings {
	min-height: 80px;
	margin-bottom: 10px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.game-field {
	display: flex;
	flex-direction: column;
	min-width: 400px;
}

.game-field__console {
	min-height: 400px;
}
